<a href="https://colab.research.google.com/github/matEOTCH24/Curso-Programacion-101---Maestria-UTEC/blob/main/Clase_3/03_Estructuras_de_datos_parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 2
</font></h1>

---

**Tabla de Contenidos**

- Diccionarios
- Sets
- Matrices

---

## 1. Diccionarios

**Concepto:**

Un diccionario es una estructura de datos que almacena pares clave-valor. Las claves deben ser únicas y se utilizan para acceder a los valores asociados.

In [2]:
my_dict = {'47470368':'John Caballero',
           '45450912' : 'Piero Diaz',
           '42420522' : 'Julio Salgado'} #data hasheado o encriptado (datos sensibles), se pueden generar datos de forma aleatorio, asignando
my_dict

{'47470368': 'John Caballero'}

### Ejemplo 1.1: Creación de Diccionarios y Acceso a Elementos

In [24]:
# Crear un diccionario
persona1 = {'nombre': 'Ana', 'edad': 30, 'ciudad': 'Lima'}
print(persona1)

{'nombre': 'Ana', 'edad': 30, 'ciudad': 'Lima'}

In [7]:
# Acceder a un valor
print("Nombre:", persona1['nombre'])
print("Ciudad:", persona1.get('ciudad'))

Nombre: Ana
Ciudad: Lima

In [12]:
persona1['genero'] = 'female' #asi se agrega un nuevo elemento al diccionario
print(persona1)

{'nombre': 'Ana', 'edad': 30, 'ciudad': 'Lima', 'genero': 'female'}

In [13]:
del persona1['genero'] #asi se elimina del diciconario, solo necesita el key
print(persona1)

{'nombre': 'Ana', 'edad': 30, 'ciudad': 'Lima'}

In [ ]:

# Añadir un nuevo par clave-valor
persona['profesion'] = 'Ingeniera'
print(persona)

In [ ]:
# Eliminar un par clave-valor
del persona['ciudad']
print(persona)

### Ejemplo 1.2: Métodos Útiles de Diccionarios

In [23]:
list(persona1.keys()) #obtener las claves del diccionario

['nombre', 'edad', 'ciudad']

In [22]:
list(persona1.values())

['Ana', 30, 'Lima']

In [21]:
list(persona1)

['nombre', 'edad', 'ciudad']

In [27]:
my_list = []
for item in persona1.items():
  my_list += list(item)

my_list

['nombre', 'Ana', 'edad', 30, 'ciudad', 'Lima']

In [28]:
my_list = []
[[my_list.append(x),my_list.append(y)] for (x,y) in persona1.items()]

[[None, None], [None, None], [None, None]]

In [ ]:
# Obtener todas las claves
print(persona.keys())

In [ ]:
# Obtener todos los valores
print(persona.values())

In [ ]:
# Comprobar si una clave existe en el diccionario
if 'edad' in persona:
    print("La clave 'edad' está en el diccionario.")

### Ejercicio 1: Trabajando con Diccionarios

- Crea un diccionario que contenga información sobre un automóvil (marca, modelo, año, color).
- Accede a cada valor usando su clave.
- Añade una clave para el precio del automóvil.
- Elimina la clave del color del automóvil y muestra el diccionario actualizado.
- Usa keys() y values() para imprimir las claves y valores del diccionario.

In [41]:
auto = {'Marca':'Toyota', 'Modelo':'Corolla', 'Año':2022, 'Color' : 'Blanco'}
print(auto)

print("Marca: ", auto['Marca'])
print("Modelo: ", auto['Modelo'])
print("Año: ", auto['Año'])
print("Color: ", auto['Color'])

auto['Precio'] = 20_000
print(auto)

del auto['Color']
print(auto)

print('Keys:', list(auto.keys()))
print('Valores:', list(auto.values()))

{'Marca': 'Toyota', 'Modelo': 'Corolla', 'Año': 2022, 'Color': 'Blanco'}
Marca:  Toyota
Modelo:  Corolla
Año:  2022
Color:  Blanco
{'Marca': 'Toyota', 'Modelo': 'Corolla', 'Año': 2022, 'Color': 'Blanco', 'Precio': 20000}
{'Marca': 'Toyota', 'Modelo': 'Corolla', 'Año': 2022, 'Precio': 20000}
Keys: ['Marca', 'Modelo', 'Año', 'Precio']
Valores: ['Toyota', 'Corolla', 2022, 20000]

In [ ]:
grades = {'Eder':18
          'Roger':19
          }

## 2. Sets

Los sets son colecciones de elementos únicos y desordenados. Son útiles para eliminar duplicados o realizar operaciones matemáticas como intersección y unión.

### Ejemplo 2.1: Creación y Modificación de Sets

In [43]:
#El set no permite trabajar con duplicados
my_list = ['var1', 'var2', 'var3', 'var4','var1','var2','var1']
set(my_list)

{'var1', 'var2', 'var3', 'var4'}

In [44]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [45]:
# Crear un set
numeros = {1, 2, 3, 4, 5}
print(numeros)

{1, 2, 3, 4, 5}

In [46]:
# Añadir elementos
numeros.add(6)
print(numeros)

{1, 2, 3, 4, 5, 6}

In [47]:
# Eliminar un elemento
numeros.remove(3)
print(numeros)

{1, 2, 4, 5, 6}

### Ejemplo 2.2: Operaciones de Conjuntos

In [48]:
# Crear otro set
otro_set = {4, 5, 6, 7}

In [ ]:
# Unión de sets (todos los elementos)
union = numeros.union(otro_set)
print("Unión:", union)

In [ ]:
# Intersección de sets (elementos comunes)
interseccion = numeros.intersection(otro_set)
print("Intersección:", interseccion)

### Ejercicio 2: Operaciones con Sets

- Crea dos sets de números: uno con números del 1 al 10 y otro con números del 5 al 15.
- Encuentra la intersección y unión de ambos sets.
- Elimina un número del primer set.
- Usa un set para almacenar los nombres de tus amigos. Asegúrate de que no haya duplicados.

## 3. Matrices

En Python, las matrices pueden representarse como listas de listas. Para manipular matrices más avanzadas y realizar cálculos eficientes, utilizamos la librería NumPy.

### Ejemplo 3.1: Matrices con Listas de Listas

In [ ]:
# Crear una matriz 3x3 con listas anidadas
matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matriz)

In [ ]:
# Acceder a elementos de la matriz
print("Elemento en [1][1]:", matriz[1][1])

In [ ]:
# Modificar un elemento
matriz[2][0] = 10
print(matriz)

### Ejemplo 3.2: Manipulación de Matrices con NumPy

In [ ]:
import numpy as np

# Crear una matriz 3x3 con NumPy
matriz_np = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
print(matriz_np)

In [ ]:
# Sumar 10 a cada elemento
print(matriz_np + 10)

In [ ]:
# Multiplicar cada elemento por 2
print(matriz_np * 2)

### Ejercicio 3: Operaciones con Matrices

- Crea una matriz 3x3 usando listas de listas.
- Modifica un valor de la matriz y muestra la matriz actualizada.
- Usa NumPy para crear una matriz 4x4 con números aleatorios enteros.
- Realiza una operación de suma con la matriz (suma 5 a cada elemento).
- Multiplica los elementos de la matriz por 2 usando NumPy.

## 4. Desafío


Eres el encargado de un almacén de productos electrónicos. Tienes un registro de ventas semanales para teléfonos, laptops y tabletas. Necesitas analizar las ventas para mejorar la gestión.

- Crea tres listas: una para teléfonos, otra para laptops y otra para tabletas con las ventas de cada día durante una semana.
- Usa slicing para obtener las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.
- Clasifica los productos en "ventas altas" o "ventas bajas" según si el promedio de ventas es mayor o menor a 5.

Instrucciones:
Usa sum() y len() para calcular el total de ventas y el promedio.
Clasifica las ventas usando listas por comprensión.

---

# Gracias por completar este laboratorio!

---