<a href="https://colab.research.google.com/github/matEOTCH24/Curso-Programacion-101---Maestria-UTEC/blob/main/Curso_2/02_Estructuras_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://www.ctic.uni.edu.pe/wp-content/uploads/2022/04/588px-x-348px-web-1.png" alt="HTML5 Icon" width="900" height="350" >

<h1 align=center><font size = 5>ESTRUCTURAS DE DATOS - PARTE 1
</font></h1>

---

## Tabla de Contenidos

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Listas</a>  
2. <a href="#item31">Tuplas</a>  
3. <a href="#item31">Slicing</a>  
4. <a href="#item31">List comprehension</a>  
</font>
</div>

---

## <b>Objetivo:</b>

Este laboratorio está diseñado para cubrir los conceptos de listas, tuplas, slicing, y listas por comprensión, con ejercicios detallados para practicar la manipulación de estos tipos de datos en Python.

---

## <b>1. Trabajando con Listas numéricas</b>

Las listas son una secuencia de elementos que pueden ser modificados después de su creación. Vamos a realizar varias operaciones con listas numéricas, utilizando también la función range() para generar secuencias de números.

### Ejemplo 1.1: Creación de listas

In [ ]:
a = None #El none es el elemento vacio, es un nulo, no tiene tipo
print(a)

constant = 1_000_000

my_list=['Hunger','KXN','LMN','XGBoost',2,9.1,constant, [],a] #es lista vacia []
print(my_list)

None
['Hunger', 'KXN', 'LMN', 'XGBoost', 2, 9.1, 1000000, [], None]

In [ ]:
# Crear una lista de frutas
#Indexado [0,1,2,3,4,5,etc] esto es el posicionamiento de los elementos, iniciando por 0, dando un orden
# El indexado negativo es al reves [etc, -6, -5, -4, -3, -2, -1]
# print(my_list[index])
frutas = ["manzana", "banana", "naranja", "uva", "pera"]

In [ ]:
funel = ['logistic regression','XGBoost','SVM',['Reg KNN','Class KNN'],'Decision Tree','Random Forest']
#funel[3] #elementos de una lista
funel[3][1] #elementos de una sublista dentro de una lista

'Class KNN'

In [ ]:
funel[-3][-1] #El segundo no es encesario que sea negativo, puede ser positivo

'Class KNN'

In [ ]:
funel[1] = 'Gradient Boosting'

print(funel)

['logistic regression', 'Gradient Boosting', 'SVM', ['Reg KNN', 'Class KNN'], 'Decision Tree', 'Random Forest']

In [ ]:
funel[3][0] = ' '

print(funel)

['logistic regression', 'Gradient Boosting', 'SVM', [' ', 'Class KNN'], 'Decision Tree', 'Random Forest']

In [ ]:

# Acceder a elementos individuales
primera_fruta = frutas[0]
ultima_fruta = frutas[-1]
print(primera_fruta, ultima_fruta)

manzana pera

In [ ]:
# Modificar un elemento
frutas[1] = "plátano"
print(frutas)

### Ejemplo 1.2: Métodos útiles de listas

In [ ]:
algoritmos = ['logistic regression','XGBoost','SVM','KNN']

algoritmos.append('Decision Tree')
algoritmos.append('Random Forest')

#algoritmos.append(['Decision Tree','Random Forest']) #Esto agrega una lista, mas no los elementos

print(algoritmos)

['logistic regression', 'XGBoost', 'SVM', 'KNN', 'Decision Tree', 'Random Forest']

In [ ]:
['logistic regression','XGBoost','SVM','KNN']+['Decision Tree','Random Forest'] #sentencia mas es una manera de unir lista o sumar

['logistic regression',
 'XGBoost',
 'SVM',
 'KNN',
 'Decision Tree',
 'Random Forest']

In [ ]:
var_demo = ['edad','zona','genero','estado civil']
var_ahorros = ['ahorros_prom6','gastos_sum3','abonos_prom6']

var_total = var_demo + var_ahorros
print(var_total)

['edad', 'zona', 'genero', 'estado civil', 'ahorros_prom6', 'gastos_sum3', 'abonos_prom6']

In [ ]:
# Agregar un elemento al final
frutas.append("kiwi")
print(frutas)

In [ ]:

# Insertar un elemento en una posición específica
# list.insert(index, item)
frutas.insert(2, "mango")
print(frutas)

In [ ]:
# Eliminar un elemento
frutas.remove("naranja")
print(frutas)

In [ ]:
# Ordenar una lista
frutas.sort() #lo hace por orden alfabetico o orden especifico de menor a mayor
#Con esto se genera un nuevo orden de lista
print(frutas)

['banana', 'manzana', 'naranja', 'pera', 'uva']

In [ ]:
# Ordenar en reversa
frutas.sort(reverse=True)
print(frutas)

In [ ]:
#my_nums = [3,5,1,4,2,'a','b']
#No va a poder compara alfanumericos y numeros osea str con int
my_nums = [3,5,1,4,2]
my_nums.sort(reverse=True) #Para ordenar de manera inversa
print(my_nums)

[5, 4, 3, 2, 1]

In [ ]:
my_key = [3,5,1,4,2]
b = sorted(my_key,reverse=True) #el sorted imprime y ordena los datos
print(b)

[5, 4, 3, 2, 1]

In [ ]:
votes = []

In [ ]:
var = input('dime tu voto: ')
votes.append(var)
print(f'actual votes: {votes}')

dime tu voto: rojo
actual votes: ['Amarillo', 'rojo']

### Ejemplo 1.3: Operaciones numéricas con listas

In [ ]:
numb = [1,2,3,4,5,6,7,8,9,0]

In [ ]:
print(sum(numb))
print(sum(numb)/len(numb)) #para hallar promedio

45
4.5

In [ ]:
len(numb) #cuenta la cantidad de elementos que tiene una lista

10

In [ ]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print("Mínimo:", min(digits))
print("Máximo:", max(digits))
print("Suma:", sum(digits))


numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Mínimo, máximo y suma
print("Mínimo:", min(numeros))
print("Máximo:", max(numeros))
print("Suma total:", sum(numeros))

# Longitud de la lista
print("Cantidad de elementos:", len(numeros))

# Promedio de los valores en la lista
promedio = sum(numeros) / len(numeros)
print("Promedio:", promedio)

## 1.2: Uso de la función range()

La función range() se utiliza para generar secuencias de números, y es especialmente útil cuando se quiere evitar la creación manual de listas largas de números consecutivos.

### Ejemplo 1.4: Creación de listas con range()

In [ ]:
#generar un conjunto de elementos del 1 al 10 porque no toma el tope osea es un < 11 (intervalo cerrado a intervalo abierto)
#el tipo de range es una operacion de tipo range, un tipo de formato
type(range(1,11))

#Transforma lo que no es una lista o tipos en una lista
list(range(1,11)) #convierte el tipo

#range(inicial, final + 1, steps) #cantidad de pasos es cuanto se saltea
my_numb=list(range(1,20+1,2))
print(my_numb)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# cuantos multiplos de 23 hay del 1 al 1700?
print(f'El resultado es {len(list(range(0,1700+1,23)))-1}') #se inicia del 0, pero como 0 en la lista lo va a contar como 1 elemento, se resta 1

El resultado es 73

In [ ]:
# Crear una lista con los números del 1 al 10
lista_numeros = list(range(1, 11))
print("Números del 1 al 10:", lista_numeros)

In [ ]:
# Crear una lista con los números pares entre 2 y 20
pares = list(range(2, 21, 2))
print("Números pares del 2 al 20:", pares)

Números pares del 2 al 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Crear una lista de números en orden inverso (del 10 al 1)
reversa = list(range(10, 0, -1)) # el -1 es al reves los steps
print("Números en orden inverso:", reversa)

Números en orden inverso: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# Crear una lista de múltiplos de 5 entre 0 y 50
multiplos_de_5 = list(range(0, 51, 5))
print("Múltiplos de 5 entre 0 y 50:", multiplos_de_5)

### Ejercicio 1.1: Operaciones numéricas con listas

- Crea una lista de números entre 1 y 100 usando la función range() (verás cómo usarla en el próximo ejemplo).

- Calcula la media de los valores de la lista usando las funciones sum() y len().

- Usa sorted() para crear una lista ordenada inversamente de los primeros 50 números.

- Crea una lista que contenga solo los números mayores a 50, multiplicados por 2.

In [ ]:
lista_cien = list(range(1,101))
media = sum(lista_cien)/len(lista_cien)
print(media)

lista_cincuenta= sorted(lista_cien[0:50],reverse=True) #esa lista_cien[0:50] para que solo se llamen los 50 primeros elementos
print(lista_cincuenta)

50.5
[50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## <b>2. Listas por Comprensión</b>

Las listas por comprensión son una forma concisa de crear listas nuevas a partir de una expresión. Se pueden utilizar para realizar operaciones sobre secuencias de forma más rápida y sin necesidad de ciclos explícitos.

In [ ]:
#la list compression no se define como una lista si no definir o condicionar los elementos de esa lista

[x for x in range(1,11)] #se define es como definir el conjunto x para todo x que contenga en (rango)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Números multiplos de 23 del 1 al 1000 #Se pueden definir sentencias logicas "if" despues del range
my_list = [x for x in range(1,1001) if x % 23 == 0] #proqeu si no es modulo es valor residual y por ende no es multiplo

In [ ]:
names = ['Juan', 'pedro', 'Jana', 'maria']
[x for x in names if x[0]== 'J'] # no se usa el range porque ya es una lista x[0] osea desde el primer elemento

['Juan', 'Jana']

In [ ]:
[x for x in names if x[-1] == 'n'] #la inversa para que identifique la ultima letra

['Juan']

In [ ]:
['alumno_' + x for x in names] #se puede concataner para cambiar nombres o listados

['alumno_Juan', 'alumno_pedro', 'alumno_Jana', 'alumno_maria']

### Ejemplo 2.1: Generación de listas por comprensión

In [ ]:
# Crear una lista de cuadrados de los números del 1 al 10
cuadrados = [x**2 for x in range(1, 11)] #todos los numeros con el ** (cuadrado) estos son elebados al cuadrado
print(cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Crear una lista de números pares entre 1 y 20
pares = [x for x in range(1, 21) if x % 2 == 0]
print(pares)

### Ejemplo 2.2: Listas por comprensión con manipulación de cadenas

In [9]:
# Crear una lista con las primeras letras en mayúsculas de una lista de nombres

nombres = ["juan", "pedro", "ana", "maria"]
nombres_mayuscula = [nombre.capitalize() for nombre in nombres] #se puede usar x o una variable clara que se especifique pero siempre
                                                                # manteniendo el orden de X tal que X
print(nombres_mayuscula)

['Juan', 'Pedro', 'Ana', 'Maria']

In [1]:
%%time

my_list = []
for x in range(1,100_000_001): #usando for loops para hacer una tarea
  my_list.append(x**2) #los numeors que se vayan generando seran elebados al cuadrado y guardados en el lista

CPU times: user 42.2 s, sys: 3.74 s, total: 45.9 s
Wall time: 46.3 s

In [2]:
%%time
my_list = [x**2 for x in range(1,100_000_001)] #usando list compression para hacer una tarea, es la misma opcion pero otra manera con list compression

#aprox se gana 10 segundo en este tipo de calculo, mientras mas grande, mas tiempo se ira gananado

CPU times: user 34.1 s, sys: 3.6 s, total: 37.7 s
Wall time: 38.1 s

In [5]:
red = round(38.1/46.3*100,2)
print(f'Aprox el list compression logra hacer la misma tarea usando el {red}% de lo que se haria con un for')

Aprox el list compression logra hacer la misma tarea usando el 82.29% de lo que se haria con un for

### Ejercicio 2: Creación avanzada con listas por comprensión

- Crea una lista de los números impares entre 1 y 50.
- Genera una lista con los cubos de los primeros 10 números (1 al 10).
- Dada una lista de palabras, crea una nueva lista que contenga las palabras con más de 4 letras en mayúsculas.

In [12]:
impar = [x for x in range(1,50) if x%2 != 0]
print(impar)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## <b>3. Trabajando con Slicing</b>

El slicing es una técnica que te permite extraer sublistas de listas existentes, seleccionando elementos de una lista mediante índices.

### Ejemplo 3.1: Slicing de listas

In [ ]:
# Crear una lista de letras
letras = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
# Extraer una subsección de la lista
primeras_tres = letras[:3]  # Primeros 3 elementos
print(primeras_tres)

In [ ]:
desde_el_cuarto = letras[3:]  # Desde el cuarto hasta el final
print(desde_el_cuarto)

In [ ]:
ultimos_dos = letras[-2:]  # Los últimos dos elementos
print(ultimos_dos)

### Ejemplo 3.2: Slicing con pasos

In [ ]:
# Crear una lista de números del 1 al 10
numeros = list(range(1, 11))

In [ ]:

# Obtener todos los números en posiciones pares
pares = numeros[1::2]  # Inicia en el segundo elemento y salta de 2 en 2
print(pares)

In [ ]:
# Obtener cada tercer número
tercios = numeros[::3]
print(tercios)

### Ejercicio 3: Aplicaciones de slicing

Crea una lista con los números del 1 al 100. Luego, usando slicing:
- Extrae los primeros 10 números.
- Extrae los últimos 10 números.
- Extrae todos los números en posiciones impares.
- Usa slicing para dividir una lista de palabras en dos mitades.

## <b>4. Trabajando con Tuplas
</b>

Las tuplas son como listas, pero inmutables, lo que significa que no se pueden modificar después de su creación. Son útiles para almacenar datos que no deben cambiar.

### Ejemplo 4.1: Crear y acceder a tuplas

In [ ]:
# Crear una tupla
coordenadas = (10.5, 20.3)

# Acceder a los elementos de la tupla
print("X:", coordenadas[0])
print("Y:", coordenadas[1])

### Ejemplo 4.2: Intento de modificación de una tupla

In [ ]:
# Crear una tupla
dimensiones = (200, 50)

In [ ]:
# Intentar modificar la tupla (esto generará un error)
# dimensiones[0] = 250  # Descomenta esta línea para ver el error

In [ ]:
# Reasignar una nueva tupla
dimensiones = (400, 100)
print("Nuevas dimensiones:", dimensiones)

### Ejercicio 4: Trabajando con tuplas
- Crea una tupla que almacene las dimensiones de un objeto (ancho, alto).
- Intenta modificar un elemento de la tupla y observa el error que genera.
- Reescribe la tupla completa con nuevas dimensiones.

## <b>5. Desafío</b>

### Desafío 1: Análisis de ventas de una tienda de ropa

Eres el encargado de una tienda de ropa y tienes una lista de ventas diarias para diferentes productos. Cada día, vendes camisetas, pantalones y zapatos. Quieres analizar las ventas para entender mejor el rendimiento de cada producto.

<b>Objetivo:</b>

- Crea tres listas: una para camisetas, otra para pantalones y una para zapatos, con la cantidad vendida cada día durante una semana.
- Usa slicing para extraer las ventas de los últimos 3 días de cada producto.
- Usa listas por comprensión para calcular el total de ventas de cada producto y el promedio de ventas diarias.

- Clasifica los productos en "buenas ventas" o "malas ventas" según si el promedio de ventas diarias es mayor o menor a 5.

Instrucciones:
- Genera los datos de ventas usando listas manualmente o simulándolos con valores constantes.
- Calcula el total de ventas por producto usando sum() y el promedio con len().
- Usa listas por comprensión para clasificar las ventas de los productos.

---

# Gracias por completar este laboratorio!

---